$border-color: #ccc;
$theme-color: skyblue;
$border-radius: 4px;
$common-height: 32px;
$check-size: 16px;
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}